html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; 

}

form{
    padding: 0px !important;
}

body{
    background-image: linear-gradient(#f5740c, #989dec 80%);
    width: 100vw;
    height: 100vh;
}

header{
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

/* navbar menu */
#menu{
    background-image: linear-gradient(#f5740c, #989dec 80%);
    text-align: center;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding-left: 20px;
    padding-right: 20px;
}

#menu >*{
    color: #131212;
    padding: 5px;
    background-color: #7920F4;
    border-radius: 10%;
}

#inicio:hover, #novidades:hover, #participe:hover{
    background-color: #989dec;
    text-decoration: none;
}

/* textos */
.txt{
    color: antiquewhite;
    width: 50%;
    text-align: justify;
    margin-left: 20px;
    text-shadow: 3px 2px #131212;
}

.titulodotexto{
    color: rgb(173, 172, 171);
    margin-left: 20px;
    text-shadow: 3px 2px #131212;
}

.temaum{
    background-image: url(./img/RE4-Leon.webp);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 89vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
}

.temadois{
    background-image: url(./img/eldenring.webp);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
}



















/* // Dispositivos extra small (telefones em modo retrato, com menos de 576px) */
@media (max-width: 575.98px) {  }

/* // Dispositivos small (telefones em modo paisagem, com menos de 768px) */
@media (max-width: 767.98px) {  }

/* // Dispositivos médios (tablets com menos de 992px) */
@media (max-width: 991.98px) {  }

/* // Dispositivos large (desktops com menos de 1200px) */
@media (max-width: 1199.98px) {  }