html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; 

}

form{
    padding: 0px !important;
}

body{
    background-image: linear-gradient(#F47920, #20F479 80%);
    width: 100vw;
    height: 100vh;
}

.parallax{
    background-image: url(./img/RE4-Leon.webp);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}


















/* // Dispositivos extra small (telefones em modo retrato, com menos de 576px) */
@media (max-width: 575.98px) {  }

/* // Dispositivos small (telefones em modo paisagem, com menos de 768px) */
@media (max-width: 767.98px) {  }

/* // Dispositivos médios (tablets com menos de 992px) */
@media (max-width: 991.98px) {  }

/* // Dispositivos large (desktops com menos de 1200px) */
@media (max-width: 1199.98px) {  }